<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Tenaris.Database.L2.Common.Schema" version="4.1.1" />
  <package id="Tenaris.Database.L2.Wedjet.Schema" version="4.1.1" />
  <package id="Tenaris.Database.L2.Shift.Schema" version="4.3.0" />
  <package id="Tenaris.Database.L2.Command.Schema" version="4.1.3" />
  <package id="Tenaris.Database.L2.Handshake.Schema" version="4.2.0" />
  <package id="Tenaris.Database.L2.Tracking.Schema" version="4.2.1" />
  <package id="Tenaris.Database.L2.Production.Schema" version="4.3.1" />
  <package id="Tenaris.Database.L2.Preset.Schema" version="4.3.2" />
  <package id="Tenaris.Database.L2.Tda.Schema" version="4.1.3" />
  <package id="Tenaris.Database.L2.Interruption.Schema" version="4.2.4" />
  <package id="Tenaris.Database.L2.Alarm.Schema" version="4.2.0" />
  <package id="Tenaris.Database.L2.Diagnostic.Schema" version="4.1.0" />
  <package id="Tenaris.Database.L2.Specification.Schema" version="4.1.0" />
  <package id="Tenaris.Database.L2.Security.Schema" version="4.2.2" />
  <package id="Tenaris.Database.L2.Quality.Schema" version="4.3.1" />
  <package id="Tenaris.Database.L2.Event.Schema" version="4.1.1" />
  <package id="Tenaris.Database.L2.Schedule.Schema" version="4.3.0" />
  <package id="Tenaris.Database.L2.Configuration.Schema" version="4.1.0" />
  <package id="Tenaris.Database.L2.ProductionView.Schema" version="4.2.1" />
  <package id="Tenaris.Database.L2.TechAlarm.Schema" version="4.1.0" />
  <package id="Tenaris.Database.L2.TrackingView.Schema" version="4.2.0" />
  <package id="Tenaris.Database.L2.AUSStudio.Schema" version="4.1.0" />
  <package id="Tenaris.Database.L2.Interruption.Plugin.Schema" version="4.2.4" />
  <package id="Tenaris.Database.L2.Scripting.Schema" version="4.1.0" />
  <package id="Tenaris.Database.L2.Message.Schema" version="4.1.1" />
  <package id="Tenaris.Database.L2.PresetCatalog.Schema" version="4.1.1" />
</packages>