<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <config>
    <!-- 
    Proxy settings, uncomment to set a proxy
    -->
    <!--<add key="http_proxy" value="http://localhost:3128" />-->
    <!--<add key="http_proxy.user" value="user_name" />-->
    <!--<add key="http_proxy.password" value="encrypted_password" />-->
	<!-- Nuget push command throws an error when used - internal bug -->
	<add key="DefaultPushSource" value="http://nuget-auto.tenaris.techint.net/nuget/aus/" />
	<add key="repositoryPath" value="packages" />
  </config>

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>

  <!--
  Used to specify the default Sources for list, install and update.
  See: NuGet.exe help list
  See: NuGet.exe help install
  See: NuGet.exe help update
  -->
  <packageSources>
	<!-- Remove all package sources except tenaris feed -->
	<clear />
	<add key="Tenaris NuGet Package Repository" value="http://nuget-auto.tenaris.techint.net/nuget/aus/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <!-- No need to disable any package sources, since they are all removed by <clear /> in <packageSources> -->
  <!--<disabledPackageSources>
	<clear />
	<add key="nuget.org" value="https://www.nuget.org/api/v2/" />
	<add key="Microsoft and .NET" value="https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/" />
	<add key="PostSharp" value="https://www.postsharp.net/nuget/packages" />
  </disabledPackageSources>-->
</configuration>
