<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ConfigurationProvider" type="Tenaris.Library.ApplicationConfiguration.ApplicationConfigurationProviderSection, Tenaris.Library.ApplicationConfiguration"/>
    <section name="desktop" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="userSession" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="Tenaris.View.Desktop" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Shift" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Alarm" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Library.Security" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <ConfigurationProvider>
    <Providers>
      <AppConfigProvider filename="ConnectionStrings.config"/>
      <DbConfigProvider dbSessionName="dbLevel2" areaCode="TT3" zoneCode="" machineCode="" applicationCode="" />
      <LocalConfigProvider />
    </Providers>
  </ConfigurationProvider>
  
  <desktop factoryType="Tenaris.View.Desktop.Model.Factory, Tenaris.View.Desktop" isSingleton="True">
    <DesktopConfiguration sourceType="Xml" sourceXmlPath="Menu.xml" connectionName="dbLevel2" culture="es-Mx" applicationCode="DesktopManager" 
                          zoneCode="ALL" checkInterval="1000" displayName="Desktop Manager" hideWindowsDesktop="false" 
                          desktopHeight="100" toolbarHeight="50" buttonWidth="110" hasSecurityService="true" isAutoLogoff="false" 
                          applicationTimeout="120000" applicationRetryCount="10" applicationRetryDelay="1000" 
                          applicationMaxNotRespondingCount="100" 
                          uri="DesktopManager.soap"/>
  </desktop>

  <userSession factoryType="Tenaris.View.Desktop.UserSession.Factory, Tenaris.View.Desktop.UserSession" isSingleton="True">
    <Configuration shiftManagerFactoryName="Tenaris.Manager.Shift.ShiftManager.Proxy"/>
  </userSession>

  <Tenaris.View.Desktop url="tcp://localhost:49190/DesktopManager.soap" 
                        instanceType="Tenaris.View.Desktop.Shared.IDesktopManager, Tenaris.View.Desktop.Shared" 
                        aliveInterval="1000" 
                        validateConnection="true" 
                        singleInstance="true" 
                        forumPresent="false" 
                        isTargetManager="false"/>


  <!-- Security Configuration, more info please check the https://trac.auto.tenaris.techint.net/common/wiki/Service/Security. -->
  <Tenaris.Library.Security factoryType="Tenaris.Service.Security.FactoryRemoting, Tenaris.Service.Security" isSingleton="True">
    <SecurityConfiguration ConnectionStringName="dbLevel2" LDAPConnectionStringName="LDAPConnection" AuthenticationType="Database" DefaultZoneCode="ALL"/>
  </Tenaris.Library.Security>

  <log
	maxAge="1.00:00:00.000" splitLogPerDay="false" append="false" msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{ThreadId,6}] [lap={LapFriendlyValue,-7:f2}{LapFriendlyUnit,3}] {AssemblyName,30:s-30} {IdentString} {Message}" dumpStack="true" maxLogDepth="0" traceAttributeLogLevel="Debug" noQueue="false" maxQueueSize="10000" includeAssembliesRegEx="" excludeAssembliesRegEx="" includeFullClasNameRegEx="" excludeFullClasNameRegEx="" excludePropertyGetterAndSetter="true" flushInterval="1000" logAssemblyLoad="true" colorConsoleLog="true" maxFileSize="4096" maxFileCount="100" traceAttributeLogEnabled="true" additionalLogDestination="None" logLevel="Debug"
	logBaseName="Desktop"  path="C:\Proyectos\TT3\DeployTemplate\Nuevacarpeta\HTR_MX\v2.0\TT3\Data\Log\Desktop\%USERNAME%\DesktopView\%ZoneCode%\"
  />

  <!-- Remoting Configuration, more info please check the https://trac.auto.tenaris.techint.net/common/wiki/Library/Proxy. -->
  <system.runtime.remoting>
    <application name="Tenaris.View.Desktop">
      <channels>
        <channel ref="tcp" port="49190">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Desktop;Binaries;"/>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

</configuration>
