<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ConfigurationProvider" type="Tenaris.Library.ApplicationConfiguration.ApplicationConfigurationProviderSection, Tenaris.Library.ApplicationConfiguration"/>
    <section name="ViewConfiguration" type="Tenaris.Library.Framework.ApplicationConfiguration.ViewConfigurationSection, Tenaris.Library.Framework"/>
    
    <!-- Without Desktop -->
    <!--<section name="Tenaris.Library.Security" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->
    <!-- With Desktop -->
    <section name="Tenaris.Library.Security" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <ConfigurationProvider>
    <Providers>
      <AppConfigProvider filename="ConnectionStrings.config"/>
      <ViewConfigProvider />
      <DbConfigProvider dbSessionName="dbLevel2" areaCode="$AREA_CODE" zoneCode="" machineCode="" applicationCode=""/>
      <LocalConfigProvider />
    </Providers>
  </ConfigurationProvider>

  <ViewConfiguration ApplicationCode="%AppCode%"
                     Culture="$CULTURE"
                     DBConnectionName="dbLevel2"
                     DskMgr="true"
                     DskUrl=""
                     ZoneCode="ALL"
                     ConfigurationName="CustomViewConfiguration">
  </ViewConfiguration>

  <!--SECURITY: DESKTOP-->
  <Tenaris.Library.Security url="tcp://localhost:$PORT_DESKTOP/Tenaris.Service.Security.soap"
                            instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
                            aliveInterval="0" validateConnection="true" singleInstance="true"
                            forumPresent="false" isTargetManager="false">
  </Tenaris.Library.Security>

  <!--SECURITY: STAND ALONE-->
  <!--<Tenaris.Library.Security factoryType="Tenaris.Service.Security.FactoryLocal, Tenaris.Service.Security" isSingleton="True">
    <SecurityConfiguration ConnectionStringName="dbLevel2" AuthenticationType="Database" DefaultZoneCode="All"/>
  </Tenaris.Library.Security>-->

  
  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0" timeout="0">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <provider type="Tenaris.Library.Transactions.Sink.ClientTransactionSinkProvider, Tenaris.Library.Transactions.Sink"/>
            <provider type="Tenaris.Service.Security.Sink.ClientSecuritySinkProvider, Tenaris.Service.Security.Sink"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
            <provider type="Tenaris.Library.Transactions.Sink.ServerTransactionSinkProvider, Tenaris.Library.Transactions.Sink"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

    <log
      $LOG
	  logBaseName="%AppCode%"  path="$INSTALLATION_PATH\Data\Log\Desktop\%USERNAME%\%AppCode%\%ZoneCode%\"
	/>
         
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Binaries;"/>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
