<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="dbLevel2" connectionString="Application Name=$AREA_CODE_FORUM;Data Source=$DBN2_SOURCE;Initial Catalog=$DBN2_NAME;Integrated Security=true;Persist Security Info=True;Max Pool Size=10;MultipleActiveResultSets=True;" />
  </connectionStrings>
</configuration>


