<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ForumViewConfiguration" type="Tenaris.Forum.View.Shared.Configuration.ForumViewConfigurationSection, Tenaris.Forum.View.Shared"/>
    <section name="ForumControllerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumControllerConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="ForumManagerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <ForumViewConfiguration
		advanceUser="true"
		startInTaskBar="false"
		isReadOnly="false"
		activateOnStartUp="false"
		activateLogOnStartUp="true">
    <ForumControllers>
      <Controller name="$AREA_CODE" configurationName="ForumControllerFactoryConfiguration"/>
    </ForumControllers>
  </ForumViewConfiguration>

  <ForumControllerFactoryConfiguration 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        isSingleton="false" 
		address="ForumManager/Controller.soap"
		forumConfigurationName="ForumManagerFactoryConfiguration"
		activateAllManagers="true"/>
  
  <ForumManagerFactoryConfiguration>
    <Launcher initializationTries="5" activationTries="5" activationMode="GraphManual"
              defaultHostWorkingDirectory="./Binaries"
              defaultHostFileName="Tenaris.Manager.Host.exe"
              defaultHostWatchInterval="5000"
              defaultTimeout="360">
     <Hosts>
       <ExeHost name="PLCManager" managerFactoryName="Tenaris.Manager.PLC.PLCManager"
                instanceType="Tenaris.Manager.PLC.Shared.IPLCManager, Tenaris.Manager.PLC.Shared"
                url="tcp://localhost:$PORT_PLCMANAGER/Tenaris.Manager.PLC.PLCManager.soap"
                consoleTitle="Plc Manager"
                connectionTries="100"
                enabled="true"
				createNoWindow="true" 
				useShellExecute="false">                
        <DependOf />
      </ExeHost>

      <ExeHost name="ShiftManager" managerFactoryName="Tenaris.Manager.Shift.ShiftManager"
                instanceType="Tenaris.Manager.Shift.Shared.IShiftManager, Tenaris.Manager.Shift.Shared"
                url="tcp://localhost:$PORT_SHIFTMANAGER/Tenaris.Manager.Shift.ShiftManager.soap"
                consoleTitle="Shift Manager"
                connectionTries="100"
                enabled="true"
				createNoWindow="true" 
				useShellExecute="false">                
        <DependOf />
      </ExeHost>

      <ExeHost name="CommandManager" managerFactoryName="Tenaris.Manager.Command.CommandManager"
                instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared"
                url="tcp://localhost:$PORT_COMMANDMANAGER/Tenaris.Manager.Command.CommandManager.soap"
                consoleTitle="Command Manager"
                connectionTries="100"
                enabled="true"
				createNoWindow="true" 
				useShellExecute="false">             
        <DependOf>PLCManager</DependOf>
      </ExeHost>

      <ExeHost name="SpecificationManager" managerFactoryName="Tenaris.Service.SpecificationManager"
                instanceType="Tenaris.Manager.Forum.Shared.IManager, Tenaris.Manager.Forum.Shared"
                url="tcp://localhost:$PORT_SPECIFICATIONMANAGER/Tenaris.Service.Specification.SpecificationManager.soap"
                consoleTitle="Specification Manager"
                connectionTries="100"
                enabled="true"
				createNoWindow="true" 
				useShellExecute="false">               
        <DependOf />
      </ExeHost>
    
      <ExeHost name="HandshakeManager" managerFactoryName="Tenaris.Manager.Handshake.HandshakeManager"
                instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
                url="tcp://localhost:$PORT_HANDSHAKEMANAGER/Tenaris.Manager.Handshake.HandshakeManager.soap"
                consoleTitle="Handshake Manager"
                connectionTries="100"
                enabled="true"
				createNoWindow="true" 
				useShellExecute="false">                  
        <DependOf>PLCManager</DependOf>
      </ExeHost>

      <ExeHost name="TrackingManager" managerFactoryName="Tenaris.Manager.Tracking.TrackingManager"
                instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
                url="tcp://localhost:$PORT_TRACKINGMANAGER/Tenaris.Manager.Tracking.TrackingManager.soap"
                consoleTitle="Tracking Manager"
                connectionTries="100"
                enabled="true"
				createNoWindow="true" 
				useShellExecute="false">                 
        <DependOf>CommandManager;HandshakeManager</DependOf>
      </ExeHost>

      <ExeHost  name="ProductionManager" managerFactoryName="Tenaris.Manager.Production.ProductionManager"
                instanceType="Tenaris.Manager.Production.Shared.IProductionManager, Tenaris.Manager.Production.Shared"
                url="tcp://localhost:$PORT_PRODUCTIONMANAGER/Tenaris.Manager.Production.ProductionManager.soap"
                consoleTitle="Production Manager"
                connectionTries="100"
                enabled="true"
				createNoWindow="true" 
				useShellExecute="false">                 
        <DependOf>ShiftManager;CommandManager;TrackingManager;HandshakeManager;SpecificationManager</DependOf>
      </ExeHost>
      
      <ExeHost name="InterruptionManager" managerFactoryName="Tenaris.Manager.Interruption.InterruptionManager"
                instanceType="Tenaris.Manager.Interruption.Shared.IInterruptionManager, Tenaris.Manager.Interruption.Shared"
                url="tcp://localhost:$PORT_INTERRUPTIONMANAGER/Tenaris.Manager.Interruption.InterruptionManager.soap"
                consoleTitle="Interruption Manager"
                connectionTries="100"
                enabled="true"
				createNoWindow="true" 
				useShellExecute="false">                 
        <DependOf>SpecificationManager;ProductionManager;ShiftManager</DependOf>
      </ExeHost>
      
      <ExeHost name="PresetManager" managerFactoryName="Tenaris.Manager.Preset.PresetManager"
                instanceType="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
                url="tcp://localhost:$PORT_PRESETMANAGER/Tenaris.Manager.Preset.PresetManager.soap"
                consoleTitle="Preset Manager"
                connectionTries="100"
                enabled="true"
				createNoWindow="true" 
				useShellExecute="false">                
        <DependOf>PLCManager;ProductionManager;CommandManager;SpecificationManager</DependOf>
      </ExeHost>
		
      <ExeHost name="AlarmManager" managerFactoryName="Tenaris.Manager.Alarm.AlarmManager"
                instanceType="Tenaris.Manager.Alarm.Shared.IAlarmManager, Tenaris.Manager.Alarm.Shared"
                url="tcp://localhost:$PORT_ALARMMANAGER/Tenaris.Manager.Alarm.AlarmManager.soap"
                consoleTitle="Alarm Manager" 
                connectionTries="100"
                enabled="true"
				createNoWindow="true" 
				useShellExecute="false">               
        <DependOf>PLCManager</DependOf>
      </ExeHost>
	  
	   <ExeHost name="DiagnosticManager" managerFactoryName="Tenaris.Manager.Diagnostic.DiagnosticManager"
                instanceType="Tenaris.Manager.Diagnostic.Shared.IDiagnosticManager, Tenaris.Manager.Diagnostic.Shared"
                url="tcp://localhost:$PORT_DIAGNOSTICMANAGER/Tenaris.Manager.Diagnostic.DiagnosticManager.soap"
                consoleTitle="Diagnostic Manager" 
                connectionTries="100"
                enabled="true"
				createNoWindow="true" 
				useShellExecute="false">                
        <DependOf>AlarmManager;HandshakeManager;TrackingManager;ProductionManager</DependOf>
      </ExeHost>
   
      <ExeHost name="TdaManager" managerFactoryName="Tenaris.Manager.Tda.TdaManager"
                instanceType="Tenaris.Manager.Tda.Shared.ITdaManager, Tenaris.Manager.Tda.Shared"
                url="tcp://localhost:$PORT_TDAMANAGER/Tenaris.Manager.Tda.TdaManager.soap"
                consoleTitle="Tda Manager" 
                connectionTries="100"
                enabled="true"
				createNoWindow="true" 
				useShellExecute="false">                
        <DependOf>PLCManager;ProductionManager;PresetManager;HandshakeManager</DependOf>
      </ExeHost>
  
	  <ExeHost name="ScriptingManager" managerFactoryName="Tenaris.Manager.Scripting.ScriptingManager"
				instanceType="Tenaris.Manager.Scripting.Shared.IScriptingManager, Tenaris.Manager.Scripting.Shared"
				url="tcp://localhost:$PORT_SCRIPTINGMANAGER/Tenaris.Manager.Scripting.ScriptingManager.soap"
				consoleTitle="ScriptingManager"
				connectionTries="100"
                enabled="true"
				createNoWindow="true" 
				useShellExecute="false">   
			<DependOf>TrackingManager;ProductionManager;MessageManager</DependOf>
	  </ExeHost>
	  
		<ExeHost name="MessageManager" managerFactoryName="Tenaris.Manager.Message.MessageManager"
				instanceType="Tenaris.Manager.Message.Shared.IMessageManager, Tenaris.Manager.Message.Shared"
				url="tcp://localhost:$PORT_MESSAGEMANAGER/Tenaris.Manager.Message.MessageManager.soap"
				consoleTitle="Message Manager" 
				connectionTries="100"
                enabled="true"
				createNoWindow="true" 
				useShellExecute="false">  
			<DependOf>ProductionManager;HandshakeManager;TrackingManager</DependOf>
		</ExeHost>		
  </Hosts>
	
    <Availability mode="StartAlways" tries="0" interval="2000" />
    </Launcher>
    <!--<Redundancy-MasterSlave schema="tcp" partnerIp="$FORUMHOST_IP" partnerPortNumber="49299" monitorInterval="1000" waitReadyToPromoteTimeout="10" waitPromotionEndTimeout="10" unknowCounter="0" mode="MasterSlave"
      onDeactivateMode="Stop" onConnectMode="None" activationTimeout="5000" />-->
	<Redundancy mode="Master" onDeactivateMode="Stop" onConnectMode="None" activationTimeout="5000" />
    <Mailing enabled="false" enableSsl="false" port="0" timeout="0" />
  </ForumManagerFactoryConfiguration>
  
  

  <system.runtime.remoting>
    <application name="Forum">
      <channels>
        <channel ref="tcp" port="$PORT_FORUMMANAGER">
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log	
	$LOG
	logBaseName="ForumView" path="$INSTALLATION_PATH\Data\Log\ForumView\"
  />

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Binaries;"/>
    </assemblyBinding>
  </runtime>
	
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
