<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="dbLevel2" connectionString="Application Name=TT3_FORUM_DESKTOP;Data Source=localhost;Initial Catalog=TmTbHtrIta16;Integrated Security=true;Persist Security Info=True;Max Pool Size=10;MultipleActiveResultSets=True;" />
    <add name="LDAPConnection" connectionString="GC://siderca.techint.net"/>
  </connectionStrings>
</configuration>
